<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="{{ 'COMMON.ALBUM_TITLE' | translate}}" value="" [(ngModel)]="title">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ 'COMMON.CANCEL' | translate}}
  </button>
  <button mat-button [mat-dialog-close]="title" cdkFocusInitial>
    {{ 'COMMON.CONFIRM' | translate}}
  </button>
</div>