<div class="dashboard">
  <div class="dashboard__sidebar">
    <app-users
      [users]="users"
      [isLoading]="showUserLoading"
      [showUserError]="showUserError"
      [showUserNoData]="showUserNoData"
      (userSelected)="getAlbumsByUser($event)"
    ></app-users>
  </div>
  <div class="dashboard__content">
    <app-albums
      [albums]="visibleAlbums"
      [isLoading]="showAlbumsLoading"
      [isError]="showAlbumsError"
      [isEmpty]="showAlbumsNoData"
      (selectAllEmitter)="triggerSelectAllAlbums($event)"
      (createAlbum)="onCreateNewAlbum($event)"
    ></app-albums>
    <app-photos
      [photos]="photos"
      [isLoading]="showPhotoLoading"
      [showPlaceholder]="showPhotoPlaceholder"
      [showEmpty]="showPhotoEmpty"
      [showError]="showPhotoError"
      [selectedAlbums]="selectedAlbums"
      (droppedAlbum)="droppedAlbum($event)"
      (clearAlbum)="clearAlbum($event)"
    ></app-photos>
  </div>
</div>