:host {
    flex: 1;
}

.dashboard {
    font-family: 'Roboto';
    display: flex;
    align-items: stretch;
    justify-content: center;

    &__content {
        flex: 0.93;
        margin-left: 1.5%;
        display: flex;
        flex-flow: column;
        max-height: 97vh;
    }
}