.photo-card {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 16px 16px 0;
    flex-wrap: wrap;
    width: 150px;
    
    &__image {
        width: 150px;
        height: 150px;
        border: solid 1px #979797;
        background-color: #d8d8d8;
    }

    &__title {
        padding-top: 8px;
        font-family: Roboto;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
    }
}
