.album-chip {
  height: 32px;
  display: flex;
  padding: 0px 5px;
  border-radius: 2px;
  align-items: center;
  margin: 0 14px 14px 0;
  background-color: rgba(153, 153, 153, 0.2);
  font-size: 13px;

  &__subtitle {
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.54);
  }
}