<div class="album-chip">
  {{ albumInfo?.title }}
  <div *ngIf="closeable !== true && albumInfo && albumInfo.numberOfPhotos" class="album-chip__subtitle">
    {{ albumInfo?.numberOfPhotos }} {{ 'COMMON.PHOTOS' | translate }}
  </div>
  <button *ngIf="closeable === true" mat-icon-button class="md-sm" (click)="emitClear()">
    <mat-icon>close</mat-icon>
  </button>
</div>