.albums {
  height: 23%;
  min-height: 150px;
  background-color: #fff;
  padding: 24px 0;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    &__text {
      font-size: 20px;
      font-weight: 500;

      &--subtitle {
        color: rgba(0, 0, 0, 0.54);
        margin-left: 16px;
      }
    }
  }

  &__select {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.38);
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 126px;
    overflow: scroll;
    padding: 10px 24px 0 24px;
    flex: 1;
    align-self: center;
  }

  &__message {
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
  }

  &__add {
    position: absolute;
    right: 24px;
    z-index: 1;
    bottom: -24px;
  }
}

.drag-active {
  z-index: 3;
}

:host {
  position: relative;
}

/deep/.mat-card-header-text {
  display: flex;
  align-items: center;
}