<mat-card class="albums">
  <mat-card-header class="albums__header">
    <mat-card-title class="albums__header__text">{{ 'DASHBOARD.ALBUMS.TITLE' | translate }}</mat-card-title>
    <mat-card-title class="albums__header__text albums__header__text--subtitle">{{ 'DASHBOARD.ALBUMS.DRAGNDROP' | translate }}</mat-card-title>
    <mat-checkbox [checked]="albums && !albums.length" class="albums__select" (change)="selectAll($event)">{{ 'DASHBOARD.ALBUMS.SELECTALL' | translate }}</mat-checkbox>
  </mat-card-header>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-card-content class="albums__content">
    <app-album-chip
      *ngFor="let album of sortAscending()"
      mwlDraggable
      [dropData]="{album: album}"
      dragActiveClass="drag-active"
      [albumInfo]="album"
    >
    </app-album-chip>
    <div *ngIf="albums === undefined && !isEmpty && !isError" class="albums__message">{{ 'DASHBOARD.ALBUMS.PLACEHOLDER' | translate }}</div>
    <div *ngIf="isEmpty" class="albums__message">{{ 'DASHBOARD.ALBUMS.EMPTY' | translate }}</div>
    <div *ngIf="isError" class="albums__message">{{ 'DASHBOARD.ALBUMS.ERROR' | translate }}</div>
  </mat-card-content>
</mat-card>
<button mat-fab class="albums__add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>