:host  {
    flex: 1;
    display: flex;
}

.photos {
    margin-top: 4%;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 24px 0;

    &__content {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        padding: 0 24px;
        flex: 1;
        margin: 10px 0 0 0;
        overflow: scroll;
    }

    &__header {
        padding: 0 24px;
        &__title {
            font-size: 20px;
            font-weight: 500;
            margin: 0;
        }
    }
    
    &__footer {
        padding: 0 24px;
    }

    &__albums-chips {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

    &__message {
        display: flex;
        align-self: center;
        align-items: center;
        flex: 1;

        &__text {
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 0, 0, 0.54);
        }
    }
}
  
.drop-over-active {
    border: solid 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255,255,255,0.2);
}
