<mat-card 
  mwlDroppable
  (drop)="onDrop($event)"
  dragOverClass="drop-over-active" class="photos">
    <mat-card-header class="photos__header">
      <mat-card-title class="photos__header__title">
        {{ allPhotos?.length || '0' }} {{ 'DASHBOARD.PHOTOS.TITLE' | translate }}
      </mat-card-title>
      <div class="photos__albums-chips">
        <app-album-chip *ngFor="let album of selectedAlbums"
          [albumInfo]="album"
          [closeable]="true"
          (close)="emitClear($event)">
        </app-album-chip>
      </div>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="sortAscending()">{{ 'DASHBOARD.PHOTOS.ATOZ' | translate }}</button>
        <button mat-menu-item (click)="sortDescending()">{{ 'DASHBOARD.PHOTOS.ZTOA' | translate }}</button>
      </mat-menu>
      <button mat-icon-button>
        <mat-icon [matMenuTriggerFor]="appMenu">sort</mat-icon>
      </button>
    </mat-card-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-content *ngIf="allPhotos && allPhotos.length" class="photos__content">
      <app-photo-card *ngFor="let photo of visiblePhotos"
        [title]="photo.title"
        [image]="photo.thumbnailUrl"
      ></app-photo-card>
    </mat-card-content>
    <mat-card-footer *ngIf="allPhotos && allPhotos.length" class="photos__footer">
      <mat-paginator
        (page)="pageChange($event)"
        [length]="allPhotos.length || 0"
        [pageSize]="pageSize"
        [pageSizeOptions]="[6, 12, 18, 100]">
      </mat-paginator>
    </mat-card-footer>
    <div class="photos__message" *ngIf="!allPhotos || !allPhotos.length">
      <span *ngIf="showPlaceholder" class="photos__message__text">{{ 'DASHBOARD.PHOTOS.PLACEHOLDER' | translate }}</span>
      <span *ngIf="showError" class="photos__message__text">{{ 'DASHBOARD.PHOTOS.ERROR' | translate }}</span>
      <span *ngIf="showEmpty" class="photos__message__text">{{ 'DASHBOARD.PHOTOS.EMPTY' | translate }}</span>
    </div>
  </mat-card>
