<mat-card class="users">
  <mat-card-header class="users__header">
    <mat-card-title class="users__header__title">Users</mat-card-title>
    <div>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="sortAscending()">A - Z</button>
        <button mat-menu-item (click)="sortDescending()">Z - A</button>
      </mat-menu>
      <button mat-icon-button>
        <mat-icon [matMenuTriggerFor]="appMenu">filter_list</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleSearch(true)">
        <mat-icon>search</mat-icon>
      </button>
      <mat-card class="users__header__search" *ngIf="searchInput">
        <button mat-icon-button aria-label="Back" (click)="toggleSearch(false)">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <mat-form-field class="users__header__input">
          <input matInput type="text" [(ngModel)]="searchValue" (ngModelChange)="filterUsers($event)">
          <button mat-button *ngIf="searchValue" matSuffix mat-icon-button (click)="searchValue = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-card>
    </div>
  </mat-card-header>
  <mat-card-content class="users__content">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-button-toggle-group #group="matButtonToggleGroup" class="users__group">
      <mat-button-toggle *ngFor="let user of filteredUsers" class="user" [value]="user.id" (change)="userSelectChange($event)">
        <div class="user__wrapper">
          <div class="user__picture"></div>
          <div class="user__content">
            <mat-card-title class="user__text user__text--title">{{user?.name}}</mat-card-title>
            <mat-card-subtitle class="user__text user__text--subtitle">{{user?.username}}</mat-card-subtitle>
            <mat-card-subtitle class="user__text user__text--subtitle">{{user?.email}}</mat-card-subtitle>
          </div>
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="users__message" *ngIf="showUserError">There was an error processing your request</div>
    <div class="users__message" *ngIf="showUserNoData">There are no users registered</div>
  </mat-card-content>
</mat-card>