.users {
  padding: 0;
  width: 20vw;
  height: 97vh;
  display: flex;
  min-width: 250px;
  flex-flow: column;
  background-color: #fff;

  &__divider {
    width: 80%;
    height: 1px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.12);
  }

  &__header {
    height: 32px;
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);

    &__title {
      margin: 0;
      font-size: 20px;
      text-align: left;
      line-height: 1.4;
      font-weight: 500;
      color: #333333;
      font-style: normal;
      font-family: Roboto;
      font-stretch: normal;
      letter-spacing: normal;
    }

    &__search {
      top: -5px;
      left: -5px;
      padding: 0;
      height: 55px;
      margin: 10px;
      display: flex;
      flex-flow: row;
      position: absolute;
      align-items: center;
      background-color: #fff;
      width: calc(100% - 10px);
    }
  
    &__input {
      margin-left: 10px;
      width: 75%;
    }
  }

  &__content {
    height: 100%;
    overflow: scroll;
    display: flex;
  }

  &__group {
    display: flex;
    font-size: 13px;
    flex-flow: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__message {
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
  }
}

.user {
  padding: 16px 24px 16px 24px;

  &__picture {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 20px;
    background-color: #d8d8d8;
  }

  &__wrapper {
    display: flex;
    align-content: center;
    justify-content: flex-start;
  }

  &__text {
    margin: 0;
    width: 160px;
    font-size: 13px;
    overflow: hidden;
    text-align: left;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-stretch: normal;
    letter-spacing: normal;
    text-overflow: ellipsis;

    &--title {
      color: rgb(0, 0, 0);
    }
    &--subtitle {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

/deep/.mat-button-toggle-button {
  display: flex;
  justify-content: flex-start;
}

/deep/.mat-button-toggle-label-content {
  padding: 0 !important;
}