@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-blue, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);

$dark-primary: mat-palette($mat-blue);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.exb-blue-theme {
  @include angular-material-theme($dark-theme);
}

